<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Biblioteca.</h1>
    <h3>Por: José Miguel Calderón Frutos</h3>
    {% if categoria == " " %}
        {% if datos %}
            <ul>
            {% for libro in datos -%}
                <li><a href="/libro/{{libro.isbn}}">{{libro.title}}</a></li>
            {% endfor -%}
            </ul>
        {% else %}
            <p>No hay libros.</p>
        {% endif %}
    {% else %}
        <h2>{{categoria}}</h2>
        {% if datos %}
            <ul>
            {% for libro in datos -%}
                {% if categoria in libro.categories %}
                    <li><a href="/libro/{{libro.isbn}}">{{libro.title}}</a></li>
                {% endif %}
            {% endfor -%}
            </ul>
        {% else %}
            <p>No hay libros.</p>
        {% endif %}
    {% endif %}
</body>
</html>